header {
  background-color: #232323;
  min-height: 180px;
  display: flex;
  align-items: center;
}

header section {
  display: flex;
  justify-content: space-between;
}

.brand {
  display: flex;
  align-items: center;
}

.brand img {
  border-radius: 100px;
  max-width: 100px;
  border: solid 5px #fff;
  margin-right: 30px;
}

.brand div {
  font-size: 32px;
  font-family: "Roboto";
  font-weight: 700;
  justify-content: center;
}

.brand span {
  display: block;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  color: #939393;
}

nav a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  padding: 14px;
  display: inline-block;
}
